#home {
    height: 820px;
}
.headings {
    font-size: 1.5rem;
}
.navbar {
    padding: 10px;
}
.navbar ul li {
    padding: 5px;
}

/*about*/
#pic img {
    width: 200px;
    height: 195px;
}
#intro h2 {
    font-size: 1.3rem;
}

/*portfolio*/
#photos img {
    width: 250px;
    height: 150px;
    margin: 10px;

}

.input {
    width: 80%;

}
#msg {
    width: 70%;
}

#submit {
    width: 25%;
}